{% extends "base.html" %}
<html lang="en">
{% block content %}
    <body class="center">
        <form method="POST" id="edit_form" name="edit_form">
            {% csrf_token %}
    <main role="main" class="center-screen">
    <div style="width: 100%">
      <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
      {% for menu in menus %}
          {% if forloop.counter0 == 0 %}
          <a class="nav-item nav-link active" id="nav-{{ menu.id }}-tab" data-toggle="tab" href="#nav-{{ menu.id }}" role="tab" aria-controls="nav-{{ menu.id }}" aria-selected="true">
            <input type="text" name="menu-{{ menu.id }}" required placeholder="Menu Name" value="{{ menu.name }}">
            -
            <input type="number" min="1" style="width: 50px" placeholder="Menu Number" value="{{ menu.index}}" name="menu-index-{{ menu.id }}" required>
            <button style="margin-top: 8px" class="close" onclick="submit_form()">
                <i style="color: red" class="material-icons">delete</i>
            </button>
          </a>
          {% else %}
              <a class="nav-item nav-link" id="nav-{{ menu.id }}-tab" data-toggle="tab" href="#nav-{{ menu.id }}" role="tab" aria-controls="nav-{{ menu.id }}" aria-selected="false">
                  <input type="text" id="menu-{{ menu.id }}" required placeholder="Menu Name" value="{{ menu.name }}">
                  -
                  <input type="number" min="1" style="width: 50px" placeholder="Menu Number" value="{{ menu.index}}" name="menu-index-{{ menu.id }}" required>
                  <button style="margin-top: 8px" class="close" onclick="submit_form()">
                    <i style="color: red" class="material-icons">delete</i>
                </button>
              </a>
          {% endif %}
      {% endfor %}
      <a class="nav-item nav-link" id="nav-{{ menu.id }}-tab" data-toggle="tab" href="#nav-new" role="tab" aria-controls="nav-new" aria-selected="false">
        <input type="text" id="menu-{{ menu.id }}" required placeholder="New Menu Name">
        -
        <input type="number" min="1" style="width: 50px" placeholder="New Menu Number" name="menu-new-index-">
        <button style="margin-top: 8px" class="close" onclick="submit_form()">
          <i style="color: green" class="material-icons">add</i>
      </button>
    </a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
{% for menu in menus %}
    {% if forloop.counter0 == 0 %}
            <div class="tab-pane fade show active" id="nav-{{ menu.id }}" role="tabpanel" aria-labelledby="nav-{{ menu.id }}-tab">
        {% else %}
        <div class="tab-pane fade show" id="nav-{{ menu.id }}" role="tabpanel" aria-labelledby="nav-{{ menu.id }}-tab">
        {% endif %}
    <textarea style="resize: both;" placeholder="Menu Notes (optional)" name="menu-notes-{{ menu.id }}">{{ menu.notes }}</textarea>
    <div style="text-align: center; margin-right: auto; margin-left: auto; margin-bottom: 40px">
    <a>Name:</a><input type="text" name="section-new" placeholder="New Section Name">
    <a>Number:</a><input type="number" min="1" style="width: 50px" placeholder="New Section Number" name="section-index-new">
    <button style="margin-top: 8px" class="close" type="submit">
        <i style="color: green" class="material-icons">add</i>
    </button>
</div>
    {% for section in menu|get_menu_sections %}
    <div style="text-align: center; margin-right: auto; margin-left: auto;">
    <a>Name:</a><input type="text" name="section-{{ section.id }}" value="{{ section.name }}" placeholder="Section Name" required>
    <a>Number:</a><input type="number" min="1" style="width: 50px" placeholder="Section Number" value="{{ section.index}}" name="section-index-{{ section.id }}" required>
    <button style="margin-top: 8px" class="close" type="submit">
        <i style="color: red" class="material-icons">delete</i>
    </button>
</div>
<div style="text-align: center; margin-right: auto; margin-left: auto;">
<a>Section Notes:</a><textarea style="resize: both;" placeholder="Section Notes (optional)" name="section-notes-{{ section.id }}">{{ section.notes }}</textarea>
</div>
    {% for item in section|get_section_items %}
    <article class="content-section">
        <a>Picture:</a><textarea style="resize: both;" placeholder="Picture URL  (optional)" name="item-picture-{{ item.id }}">{{ item.picture_url }}</textarea>
        <a>Name:</a><textarea style="resize: both;" placeholder="Name" name="item-{{ item.id }}">{{ item.name }}</textarea>
        <a>Number:</a><input type="number" placeholder="Item Number" required value="{{ item.index }}" name="item-index-{{ item.id }}">
        <a>Description:</a><textarea style="resize: both;" placeholder="Item Description (optional)" name="item-description-{{ item.id }}">{{ item.description }}</textarea>
        <a>Price:</a><input type="number" name="item-price-{{ item.id }}" placeholder="Price" required value="{{ item.price|fix_number }}">
        <button style="margin-top: 8px" class="close" type="submit">
            <i style="color: red" class="material-icons">delete</i>
        </button>
    </article>
    {% endfor %}
    <article class="content-section">
        <h3>New Item</h3>
        <a>Picture:</a><textarea style="resize: both;" placeholder="Picture URL  (optional)" name="item-picture-new{{ section.id }}"></textarea>
        <a>Name:</a><textarea style="resize: both;" placeholder="Name" name="item-new-{{ section.id }}"></textarea>
        <a>Number:</a><input type="number" placeholder="Item Number" name="item-new-index-{{ section.id }}">
        <a>Description:</a><textarea style="resize: both;" placeholder="Item Description (optional)" name="item-new-description-{{ section.id }}"></textarea>
        <a>Price:</a><input type="number" name="item-new-price-{{ section.id }}" placeholder="Price">
        <button style="margin-top: 8px" name="add-item" value="{{ section.id }}"class="close" type="submit">
            <i style="color: green" class="material-icons">add</i>
        </button>
    </article>
    {% endfor %}
    </div>
{% endfor %}
        </div>
    </div>
    </main>
</form>
</body>
<script>
    function submit_form(){
        document.getElementById("edit_form").submit();
    }
</script>
{% endblock content %}