{% extends "base.html" %}
<html lang="en">
{% block content %}
    <body class="center">
    <main role="main" class="center-screen">
    <div style="width: 100%">
      <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
      {% for menu in menus %}
          {% if forloop.counter0 == 0 %}
          <a class="nav-item nav-link active" id="nav-{{ menu.id }}-tab" data-toggle="tab" href="#nav-{{ menu.id }}" role="tab" aria-controls="nav-{{ menu.id }}" aria-selected="true">{{ menu.name }}</a>
          {% else %}
              <a class="nav-item nav-link" id="nav-{{ menu.id }}-tab" data-toggle="tab" href="#nav-{{ menu.id }}" role="tab" aria-controls="nav-{{ menu.id }}" aria-selected="false">{{ menu.name }}</a>
          {% endif %}
      {% endfor %}
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
{% for menu in menus %}
    {% if forloop.counter0 == 0 %}
            <div class="tab-pane fade show active" id="nav-{{ menu.id }}" role="tabpanel" aria-labelledby="nav-{{ menu.id }}-tab">
        {% else %}
        <div class="tab-pane fade show" id="nav-{{ menu.id }}" role="tabpanel" aria-labelledby="nav-{{ menu.id }}-tab">
        {% endif %}
    <p class="menu_notes">{{ menu.notes }}</p>
    {% for section in menu|get_menu_sections %}
    <div style="text-align: center;">
    <h1 style="color: orange">{{ section.name }}</h1>
    <p>{{ section.notes }}</p>
</div>
    {% for item in section|get_section_items %}
    <article class="content-section">
        {% if item.available %}
        {% if item.picture_url != '' %}
        <img src="{{ item.picture_url }}" width="150px" height="150px" alt="Delicious">
        {% endif %}
        <h3>{{ item.name }}</h3>
        <div style="text-align: left">
        <p>{{ item.description }}</p>
    </div>
        <h4>{{ item.price|convert_price|fix_number }} Z$</h4>
        {% else %}
        {% if item.picture_url != '' %}
        <img src="{{ item.picture_url }}" width="150px" height="150px" alt="Delicious">
        {% endif %}
        <h3 style="color: red">{{ item.name }}</h3>
        <h5 style="color: red">(Not Available Right Now)</h5>
        <p style="color: red">{{ item.description }}</p>
        <h4 style="color: red">{{ item.price|convert_price|fix_number }} Z$</h4>
        {% endif %}
    </article>
    {% endfor %}
    {% endfor %}
    </div>
{% endfor %}
        </div>
    </div>
    </main>
</body>
{% endblock content %}